@import-normalize;

:root {
    /*COLORS*/
    --green: #90EE90;

    --light-yellow: #f8be29;
    --dark-yellow: #d29b1c;
    --black: #292e36;
    --white: #fff;
    --gray: rgb(220, 220, 220);

}


body{
    margin: 0px;
    background-color: var(--gray);
}

.btn{
    padding: 5px 12px;
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    background-color: var(--dark-yellow);
    border-radius: 5px;
    border: initial;
    transition: all 0.3s ease-in;
    cursor: pointer;

    &:hover,
    &:focus{
        background-color: var(--light-yellow);
    }

}

